<!DOCTYPE html>
<html lang="en">
<head>
  <title>User Details</title>
</head>
<body>
    {{#if users}}
        {{#each users }}
            <div>
                <strong>Name  : </strong> {{this.name}} <br>
                <strong>Email : </strong> {{this.email}} 
            </div>
            <hr>
        {{/each}}

    {{else}}
        <h2>No users found</h2>
    {{/if}}
</body>
</html>